@using Newtonsoft.Json
@model FBP.ViewModels.FootballPoolViewModel

@{
    ViewData["Title"] = "FBP";
}
<div ng-controller="PicksCtrl" ng-cloak>
            <bracket weeksinseason="@Model.weeksInSeason" username="@Model.bracket.user_name" week="@Model.bracket.week" leagueid="@Model.bracket.league_id"></bracket>
            <scoreboard username="{{bracket.user_name}}" week="{{bracket.week}}" leagueid="{{leagueid}}" refreshrate="60000"></scoreboard>
            <comment-section leagueid="{{leagueid}}" comments="comments" refreshrate="60000"></comment-section>

</div>

@section scripts{
    <script type="text/javascript">
        app.controller('PicksCtrl', function ($scope, $http, $interval, $window, $uibModal) {
            
            //todo: remove as much of this as possible
            $scope.viewmodel = @Html.Raw(JsonConvert.SerializeObject(Model));
            $scope.bracket = @Html.Raw(JsonConvert.SerializeObject(Model.bracket));
            $scope.errorsAndWarningsList = @Html.Raw(JsonConvert.SerializeObject(Model.errors));
            $scope.hasErrors = false;
            $scope.hasWarnings = false;
            $scope.saved = null;
            $scope.leagueid = $scope.viewmodel.bracket.league_id;
            
        }); // end PicksCtrl
        
    </script>
}