@using Newtonsoft.Json
@model FBP.ViewModels.FootballPoolViewModel

@{
    ViewData["Title"] = "FBP";
}
<div ng-controller="PicksCtrl" ng-cloak>

            <bracket weeksinseason="@Model.weeksInSeason" username="@Model.bracket.user_name" week="@Model.bracket.week" leagueid="@Model.bracket.league_id"></bracket>
            <scoreboard username="{{bracket.user_name}}" week="{{bracket.week}}" leagueid="{{leagueid}}" refreshrate="60000"></scoreboard>
            <comment-section leagueid="{{leagueid}}" comments="comments" refreshrate="60000"></comment-section>

</div>

@section scripts{
    <script type="text/javascript">
        app.controller('PicksCtrl', function ($scope, $http, $interval, $window, $uibModal) {

            $scope.getArrayOfInts = function (start, end) {
                var result = [];
                for (var i = start; i <= end; i++) {
                    result.push(i);
                }
                return result;
            };

            $scope.updatePlayerScores = function (week, league_id) {
                $http.get('/players-scores-ajax?week=' + week + '&league_id=' + league_id).success(function (response) {
                    $scope.playerScores = response;
                });
            }
            
            $scope.viewmodel = @Html.Raw(JsonConvert.SerializeObject(Model));
            $scope.bracket = @Html.Raw(JsonConvert.SerializeObject(Model.bracket));
            $scope.errorsAndWarningsList = @Html.Raw(JsonConvert.SerializeObject(Model.errors));
            $scope.hasErrors = false;
            $scope.hasWarnings = false;
            $scope.saved = null;
            $scope.numberOfGames = $scope.getArrayOfInts(1, $scope.bracket.picks.length);
            $scope.leagueid = $scope.viewmodel.bracket.league_id;
            
            $scope.saveBracket = function () {

                $http.post('@Url.RouteUrl("SaveBracket")', $scope.bracket).success(function (response) {
                    $scope.viewmodel = response;
                    $scope.bracket = $scope.viewmodel.bracket;
                    var l = $scope.viewmodel.errors;
                    if(l.length == 0){
                        $scope.errorsAndWarningsList = $scope.viewmodel.errors;
                        $scope.hasErrors = false;
                        $scope.hasWarnings = false;
                    } else {
                        $scope.errorsAndWarningsList = $scope.viewmodel.errors;
                        for(var i = 0; i < $scope.errorsAndWarningsList.length; i++){
                            var e = $scope.errorsAndWarningsList[i];
                            if("danger" == e.type){
                                $scope.hasErrors = true;
                            } else if("warning" == e.type){
                                $scope.hasWarnings = true;
                            }
                        }
                    }
                    if($scope.hasErrors){
                        $scope.saved = false;
                    } else {
                        $scope.saved = true;
                    }
                });
            };

            $scope.weights = null;

            $scope.updateGameScores = function() {
                $http.get('@Html.Raw(@Url.RouteUrl("GetMatchupsAjax", new { week = Model.bracket.week}))').success(function (response) {
                    var matchups = response;
                    for(var i=0; i<matchups.length; i++){
                        var matchup = matchups[i];
                        for(var j=0; j<$scope.bracket.picks.length; j++){
                            var pick = $scope.bracket.picks[j];
                            if(pick.nfl_id == matchup.nfl_id){
                                pick.matchup.visit_team_score = matchup.visit_team_score;
                                pick.matchup.home_team_score = matchup.home_team_score;
                                break;
                            }
                        }
                    }
                });
            }

            $scope.getWeek = function(week, league_id) {
                $http.get('/get-week-ajax?week=' + week + '&league_id=' + league_id).success(function(response){
                    $scope.viewmodel = response;
                    $scope.bracket = $scope.viewmodel.bracket;
                    $scope.hasErrors = false;
                    $scope.hasWarnings = false;
                    $scope.saved = null;
                    $scope.errorsAndWarningsList = null;
                    $scope.availableWeights = $scope.getAvailableWeights();
                    $scope.numberOfGames = $scope.getArrayOfInts(1, $scope.bracket.picks.length);
                });
            }

            $interval(function () { $scope.updateGameScores(); }, 60000);

            $scope.availableWeights = [];

            $scope.getAvailableWeights = function(){
                var pickedWeights = [];
                $scope.availableWeights = [];
                for(var i=0; i < $scope.bracket.picks.length; i++){
                    var pick = $scope.bracket.picks[i];
                    pickedWeights.push(pick.weight);
                    var aw = new Object();
                    aw.score = i + 1;
                    aw.unused = 1;
                    $scope.availableWeights.push(aw);
                }
                for(var i=0; i < $scope.availableWeights.length; i++){
                    for(var j=0; j<pickedWeights.length; j++){
                        if($scope.availableWeights[i].score == pickedWeights[j]){
                            if($scope.availableWeights[i].unused == 1){
                                $scope.availableWeights[i].unused = 0;
                            } else {
                                $scope.availableWeights[i].unused = -1
                            }
                        }
                    }
                }
                return $scope.availableWeights;
            }

            $scope.availableWeights = $scope.getAvailableWeights();

            $scope.getWeightSelectClass = function(w){
                var count = 0;
                for(var i=0; i < $scope.bracket.picks.length; i++){
                    if($scope.bracket.picks[i].weight == w){
                        count++;
                    }

                }

                if(count > 1){
                    return "select-multi";

                } else {
                    return "selectpicker";
                }
            }

            $scope.getWeightCssClass = function(p) {
                if(p.matchup.status=='F' || p.matchup.status=='FO') {
                    if(p.winner_id == p.matchup.win_team_id){
                        return 'weight-final-winner';
                    } else {
                        return 'weight-final-loser';
                    }
                } else {
                    if(!p.matchup.game_has_started){
                        return 'weight-pending';
                    } else {
                        return 'weight-active';
                    }
                }
            }

            $scope.getScoreCssClass = function(p, isHome) {
                if(p.matchup.status=='F' || p.matchup.status=='FO') {
                    if(isHome){
                        if(p.matchup.home_team_id == p.matchup.win_team_id){
                            return 'score-final-winner';
                        } else {
                            return 'score-final-loser';
                        }
                    } else {
                        if(p.matchup.visit_team_id == p.matchup.win_team_id){
                            return 'score-final-winner';
                        } else {
                            return 'score-final-loser';
                        }
                    }
                } else {
                    if(!p.matchup.game_has_started){
                        return 'score-pending';
                    } else {
                        return 'score-active';
                    }
                }
            }

            $scope.getWeightBoardClass = function(a, l){
                var r = a.unused == 1 ? 'weightboard-unused color-unused' : a.unused == 0 ? 'weightboard-used color-used' : 'weightboard-used-multi color-used-multi';
                var w = l == 16 ? 'weightboard-width-16' : l == 15 ? 'weightboard-width-15' : l == 14 ? 'weightboard-width-14' : 'weightboard-width-16';
                return r + ' ' + w;
            }

            $scope.getTeamRecordPopoverHtml = function(team){
                return '<table class=\'table table-sm\'><tr><th>W</th><th>L</th></tr><tr><td><b>' + team.wins + '</b></td><td><b>' + team.losses + '</b></td></tr></table>';
            }

            $scope.getGameDatePopoverHtml = function(date){
                return date ;
            }

            $scope.closeAlert = function(index) {
                $scope.errorsAndWarningsList.splice(index, 1);
            };

            $scope.setClassOnWeightSelectOptions = function(){
                //iterates thru all the selects and then all the options on those selects and
                //compares them to the avaliableWeights list to set the css class on the options
                //this is probably not a great way to do it, but yeah, it seems to work.
                var allSelects = $("select");
                angular.forEach(allSelects, function (newBracketPicks, index, scope) {
                    var s = allSelects[index];
                    if(s.name.indexOf('weight_list_') > -1){
                        angular.forEach(s.options, function(option, index, scope){
                            var optionValue = parseInt(option.label, 10);
                            if(option.label != '' && optionValue != NaN){
                                var newClassList = [];
                                if($scope.availableWeights[optionValue - 1].unused == 0){
                                    newClassList.push("color-used");
                                } else if($scope.availableWeights[optionValue - 1].unused == 1) {
                                    newClassList.push("color-unused");
                                }
                                else {
                                    newClassList.push("color-used-multi");
                                }
                                option.classList = newClassList;
                            }
                        });
                    }
                });
            };

            //$scope.$watch(function (scope) {
            //    return scope.bracket.picks;
            //}, function (newValue, scope) {
            //    $scope.setClassOnWeightSelectOptions();
            //}, true);

            //angular.element(document).ready(function () {
            //    //runs when document is ready to set the css class on the weight select options
            //    $scope.setClassOnWeightSelectOptions();
            //});

        }); // end PicksCtrl

        app.filter('zeroOutScore', function(){
            return function(input){
                if(input < 0){
                    return 0;
                } else {
                    return input;
                }
            }
        });

    </script>
}